<!--
    TODO:
    - Extend base.html
    - Create a <form method="POST">
    - Include { csrf_token }
    - Add input fields for: name, email, course, grade
    - Add a submit button
    - Add a "Cancel" link back to the student list
-->
{% extends 'base.html' %} {% block title %}Add Student{% endblock %} {% block content %}

<h1>Add Student</h1>


<form action="" method="post" style='width: fit-content;'>
    {% csrf_token %}
    {{ form.as_p }}

    <div style='display: flex; justify-content: space-between;'>
        <a href={% url 'student_list' %}>Cancel</a>
        <input type="submit" value="Submit">
    </div>
</form>

{% endblock %}